
.card_container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(21, 21, 21);
    color:azure;
    border: none;
    border-radius: 5px;
    flex: 1;
    transition: flex 1s ease, background-color 1s ease;
    height: 500px;
    margin: 2px;
    font-size: 16px;
    cursor: pointer;
    flex-direction: column;
}

.card:hover{
    flex: 5;
    background-color: rgb(0, 17, 255);
}


.card-content {
    opacity: 0;
    transition: opacity 0.1s ease;
}

.card:hover .card-content {
    opacity: 1;
    transition: opacity 0.3s ease 0.3s;
}

.letter {
    position: absolute;
    font-size: 4rem;
    font-weight: bold;
    opacity: 1;
    margin: 10px;
}

.card:hover .letter {
    opacity: 0;
    transition: opacity 0.3s ease 0.3s;
}